<section id="about-small-and-mighty" class="one column-container">
	<div class="left half">
		<img src="assets/orange_line_slash.png">
		<h2 class="accent-color">hey, we're woolley.</h2>
		<p>
			We’re a small creative agency that works with purpose-driven brands. We’re all outdoor industry veterans who have come together for the community and collaboration that being part of a team brings.
			<br>
			We’re experts in outdoor content as well as creative strategy and execution. Also, big fans of being outside and coffee. Even drip, when absolutely necessary.
		</p>
	</div>
	<div class="right half">
		<div>
			<h1 class="accent-color">small</h1>
			<h1>&amp;</h1>
			<h1 class="accent-color">mighty</h1>
		</div>
	</div>
</section>
<section id="about-we-can-help" class="two align-right">
	<div class="trapezoid right">
		<div>
			<h2>yep, we can help you with that.</h2>
			<h6 class="grey">Without all the overhead of a typical agency, no project is too small (or too big).</h6>
		</div>
	</div>
</section>
<section id="about-stuff-we-do" class="three">
	<div class="cap-width column-container">
		<div class="column third">
			<h6>branding</h6>
			<h6>logos + typography</h6>
			<h6>website design</h6>
			<h6>packaging</h6>
			<h6>collateral</h6>
		</div>
		<div class="column third">
			<h6>creative strategy</h6>
			<h6>lifestyle photography</h6>
			<h6>product photography</h6>
			<h6>studio photography</h6>
			<h6>environmental photography</h6>
		</div>
		<div class="column third">
			<h6>social media content</h6>
			<h6>murals + billboards</h6>
			<h6>apparel design</h6>
			<h6>point-of-sale</h6>
			<h6>print prep</h6>
		</div>

	</div>
</section>
<section id="about-work-cta" class="work-cta">
	<div class="slideout-left">
		<a href="/work" class="page-link cta light">
			<h2>check out our work.</h2>
			<img src="assets/woolley-lines.png">
		</a>
	</div>
</section>
<section id="about-project-size" class="project-size">
	<div class="parallax-scroll">
		<div class="slash"></div>
		<div class="h6-box">
			<h6>We can help you where you’re at right now.</h6>
			<h6>Scale is just a thing we use to weigh our espresso shots.</h6>
		</div>
		<h2 class="accent-color">small, medium, or mighty.</h2>
		<h6>(Size of project)</h6>
	</div>
</section>
<section id="about-left-trap" class="left-trap">
	<div class="trapezoid left">
		<div>
			<div class="h2-box">
				<h2>creative services should be simple &amp; straightforward.</h2>
				<h2 class="grey">also, fun.</h2>
			</div>
			<p class="grey">With Woolley, you won’t be hit with any hidden fees, you won’t have to decipher a fuzzy pricing structure, and you won’t get stuck talking to anyone other than the one working on your project.</p>
		</div>
	</div>
</section>
<section id="about-onetwothree" class="onetwothree centered-column">
	<div class="item cap-width">
		<div class="small number">
			<h2>1. <span class="accent-color">simple.</span></h2>
		</div>
		<div class="large words">
			<p>We don’t have dedicated project management, customer relations, or sales teams. We’re a group of creatives who enjoy wearing a lot of hats, building relationships with our clients and managing our projects.</p>
		</div>
	</div>
	<div class="item cap-width right">
		<div class="small words">
			<p>We don’t have dedicated project management, customer relations, or sales teams. We’re a group of creatives who enjoy wearing a lot of hats, building relationships with our clients and managing our projects.</p>
		</div>
		<div class="large number" style="text-align: right">
			<h2>2. <span class="accent-color">straightforward.</span></h2>
		</div>
	</div>
	<div class="item cap-width">
		<div class="large number">
			<h2>3. <span class="accent-color">collaborative.</span></h2>
		</div>
		<div class="small words">
			<p>We don’t have dedicated project management, customer relations, or sales teams. We’re a group of creatives who enjoy wearing a lot of hats, building relationships with our clients and managing our projects.</p>
		</div>
	</div>
</section>
<section id="about-our-team" class="our-team">
	<div class="header">
		<h2>our team</h2>
		<h6 class="spaced grey">We're stoked to get to know you.</h6>
	</div>
</section>
