<section id="about-small-and-mighty" class="one column-container">
	<div class="left half">
		<img src="assets/orange_line_slash.png">
		<h2 class="accent-color">hey, we're woolley.</h2>
		<p>
			We’re a small creative agency that works with purpose-driven brands. We’re all outdoor industry veterans who have come together for the community and collaboration that being part of a team brings.
			<br>
			We’re experts in outdoor content as well as creative strategy and execution. Also, big fans of being outside and coffee. Even drip, when absolutely necessary.
		</p>
	</div>
	<div class="right half">
		<div>
			<h1 class="accent-color">small</h1>
			<h1>&amp;</h1>
			<h1 class="accent-color">mighty</h1>
		</div>
	</div>
</section>
<section id="about-we-can-help" class="two align-right">
	<div class="trapezoid right">
		<div>
			<h2>yep, we can help you with that.</h2>
			<h6 class="grey">Without all the overhead of a typical agency, no project is too small (or too big).</h6>
		</div>
	</div>
</section>
<section id="about-stuff-we-do" class="three">
	<div class="cap-width column-container">
		<div class="column third">
			<h6>branding</h6>
			<h6>logos + typography</h6>
			<h6>website design</h6>
			<h6>packaging</h6>
			<h6>collateral</h6>
		</div>
		<div class="column third">
			<h6>creative strategy</h6>
			<h6>lifestyle photography</h6>
			<h6>product photography</h6>
			<h6>studio photography</h6>
			<h6>environmental photography</h6>
		</div>
		<div class="column third">
			<h6>social media content</h6>
			<h6>murals + billboards</h6>
			<h6>apparel design</h6>
			<h6>point-of-sale</h6>
			<h6>print prep</h6>
		</div>

	</div>
</section>
<section id="about-work-cta" class="work-cta">
	<div class="cap-width standard-padding">
		<div class="slideout-left">
			<a href="/work" class="page-link cta light">
				<h2>check out our work.</h2>
				<img src="assets/woolley-lines.png">
			</a>
		</div>
	</div>
</section>
<section id="about-project-size" class="project-size">
	<div class="parallax-scroll">
		<div class="slash"></div>
		<div class="h6-box">
			<h6>We can help you where you’re at right now.</h6>
			<h6>Scale is just a thing we use to weigh our espresso shots.</h6>
		</div>
		<h2 class="accent-color">small, medium, or mighty.</h2>
		<h6>(Size of project)</h6>
	</div>
</section>
<section id="about-left-trap" class="left-trap">
	<div class="trapezoid left">
		<div class="cap-width">
			<div class="h2-box">
				<h2>creative services should be simple &amp; straightforward.</h2>
				<h2 class="grey">also, fun.</h2>
			</div>
			<p class="grey">With Woolley, you won’t be hit with any hidden fees, you won’t have to decipher a fuzzy pricing structure, and you won’t get stuck talking to anyone other than the one working on your project.</p>
		</div>
	</div>
</section>
<section id="about-onetwothree" class="onetwothree centered-column standard-padding">
	<div class="item cap-width">
		<div class="small number slideout-left">
			<h2>1. <span class="accent-color">simple.</span></h2>
		</div>
		<div class="large words">
			<p>We don’t have dedicated project management, customer relations, or sales teams. We’re a group of creatives who enjoy wearing a lot of hats, building relationships with our clients and managing our projects.</p>
		</div>
	</div>
	<div class="item cap-width right">
		<div class="small words">
			<p>We bill hourly and we only bill for the hours we work for you. If that’s less than we proposed, you win. If it’s more, we talk to you ASAP or we absorb it. There’s no ‘value-based’ (read: <i>vague</i>) proposals with a bunch of hidden fees.</p>
		</div>
		<div class="large number slideout-right" style="text-align: right">
			<h2>2. <span class="accent-color">straightforward.</span></h2>
		</div>
	</div>
	<div class="item cap-width">
		<div class="large number slideout-left">
			<h2>3. <span class="accent-color">collaborative.</span></h2>
		</div>
		<div class="small words">
			<p>Because we only work with clients we believe in, it’s easy for us to invest ourselves fully for you. We listen and ask maybe an absurd amount of questions before we get to work. Because we don’t win unless you win.</p>
		</div>
	</div>
</section>
<section id="about-our-team" class="our-team">
	<div class="header centered-column">
		<h2>our team</h2>
		<h6 class="spaced grey">We're stoked to get to know you.</h6>
	</div>
	<div class="team-container column-container">
		<div class="column half image">
			<img src="assets/about-thom.png">
			<img src="assets/about-thom-secondary.png" class="secondary left">
		</div>
		<div class="column half info cap-width">
			<h2 class="accent-color">thom</h2>
			<h5>Owner / Principal Photographer</h5>
			<p>
				Thom has been taking pictures since he was ten years old. Lots of pictures. Apparently, it’s something he enjoys. He spent over fifteen years wearing a lot of hats around REI Co-op’s media studio and creative teams before launching his own businesses.
				<br>
				He’s a husband and a dad first, a creative second, and somewhere down that list, a definitive geek on mudding drywall.
			</p>
		</div>
	</div>
	<div class="team-container column-container reverse">
		<div class="column half image">
			<img src="assets/about-kat.png">
			<img src="assets/about-kat-secondary.png" class="secondary right">
		</div>
		<div class="column half info cap-width">
			<h2 class="accent-color">kat</h2>
			<h5>Principal Creative Director / Designer</h5>
			<p>
				Kat has been working in the creative industry for over sixteen years. She finds the most purpose helping outdoor communities thrive. After emigrating from Slovakia with her family as a kid, she spent most of her life in the Pacific Northwest. She now lives in the small mountain town of Silverton, Colorado.
				<br>
				When not creating visual stories, Kat loves to bike in the desert and explore the high mountains. She likes to photograph and write about the diverse places she visits.
			</p>
		</div>
	</div>
	<div class="footer standard-padding">
		<div class="cap-width">
			<h6 class="spaced grey">woolley</h6>
			<!-- <div> -->
				<ul id="about-slide-list" class="slide-list">
					<li><h6 class="spaced grey">walks the talk.</h6></li>
					<li><h6 class="spaced grey">is up for a challenge.</h6></li>
					<li><h6 class="spaced grey">thinks this stuff is fun.</h6></li>
					<li><h6 class="spaced grey">is all about community and collaboration.</h6></li>
					<li><h6 class="spaced grey">doesn't have all the answers.</h6></li>
					<li><h6 class="spaced grey">is committed to doing good.</h6></li>
				</ul>
			<!-- </div> -->
		</div>
	</div>
</section>
