* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--accent-color: #323E48;
	--woolley-orange: #ff5100;
	--grey-text-color: #d7d7d3;
}

@font-face {
	font-family: "Qonquer";
	src: url("../assets/Face Off M54.ttf");
}
@font-face {
	font-family: "Gotham Book";
	src: url("../assets/Gotham Book Regular.otf");
}

body {
	display: flex;
	flex-direction: column;
}
div.diagonal-text-container {
	width: calc(100vw - 500px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
}

header {
	height: 97px;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	background-color: var(--accent-color);
	z-index: 2;
}
	header div.container {
		width: 100%;
		max-width: 1120px;
		padding: 0 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
		header div.container a img {
			width: 100px;
		}
		div#menu-hamburger {
			height: 100%;
			width: 97px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		svg#menu-hamburger-svg {
			width: 40px;
		}

main {
	display: flex;
	flex-direction: column;
}
	main section.top {
		height: 1100px;
		background-image: url("../assets/home-hero.webp");
		background-size: cover;
		background-position: 0 0;
	}
		div#motto-container {
			position: relative;
			width: 50%;
			left: 50%;
			top: 360px;
			font-family: "Qonquer";
			overflow: hidden;
			/* background-color: rgba(12,150,200,0.5); */
			/* transition: transform 1s cubic-bezier(0,.33,.07,1.03); */
		}
			main section.top div.motto h1 {
				font-size: 105px;
				line-height: 105px;
				transform-origin: 0 0;
				transform: scale(0.85, 1);
				letter-spacing: 4px;
				color: var(--grey-text-color);
				position: relative;
				left: 50vw;
				opacity: 0;
				transition: left 0.7s cubic-bezier(0, 0.8, 0.7, 1), opacity 1s;
			}

	main section.elevator {
		display: flex;
		justify-content: flex-end;
		height: 500px;
		background-image: url("../assets/box_midnight_diagonal-left-2.png");
		background-position: center left;
		z-index: 1;
	}
		main section.elevator div.text-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 50px;
			z-index: 1;
		}
			main section.elevator div.text-container div.text-box * {
				font-family: "Gotham Book";
				text-transform: uppercase;
				font-size: 22px;
				font-weight: 400;
				color: var(--woolley-orange);
			}
			main section.elevator div.text-container div.text-box h3 {
				color: white;
				font-size: 18px;
				margin-top: 10px;
			}
		main section.elevator div.background-fill {
			position: absolute;
			width: calc(100% - 600px);
			height: 500px;
			left: 600px;
			background-color: var(--accent-color);
		}

	main section.category {
		background-color: white;
		display: flex;
		justify-content: center;
		margin: 250px 0;
	}
		main section.category div.category-container {
			display: flex;
			width: 100%;
			max-width: 1120px;
		}
			main section.category div.category-container div.category {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 33.33%;
				opacity: 0;
				transition: opacity 0.1s;
			}
				div.category-container div.category span {
					color: var(--woolley-orange);
					font-family: "Impact";
					font-size: 48px;
					font-weight: bold;
					font-style: italic;
					margin-bottom: 10px;
				}
				div.category-container div.category h2 {
					font-family: "Qonquer";
					font-size: 44px;
					transform: scale(0.85, 1);
					letter-spacing: 2px;
					color: var(--accent-color);
					margin-bottom: 50px;
				}
				div.category-container div.category ul {
					list-style: none;
					display: flex;
					flex-direction: column;
					align-items: center;
				}
					div.category-container div.category li {
						font-family: "Gotham Book";
						font-size: 18px;
						letter-spacing: 1px;
						text-transform: uppercase;
						margin-bottom: 15px;
					}
	main section.why-whoolley {
		height: 700px;
		display: flex;
		background-image: url("../assets/box_midnight_diagonal-right.png");
		background-color: var(--woolley-orange);
		background-position: center right;
		transition: background-position 0.2s;
	}
		main section.why-whoolley div.text-container {
			width: calc(100vw - 450px);
			padding: 0;
		}
			main section.why-whoolley div.text-box {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
				main section.why-whoolley div.text-box * {
					font-family: "Qonquer";
					font-size: 50px;
					transform: scale(0.85, 1);
					letter-spacing: 1px;
					width: 117%;
					text-align: center;
				}
				main section.why-whoolley div.text-box h2 {
					color: var(--woolley-orange);
					margin-bottom: 35px;
				}
					main section.why-whoolley div.text-box h2 span {
						font-family: "Impact";
					}
				main section.why-whoolley div.text-box p {
					color: var(--grey-text-color);
				}
				main section.why-whoolley div.text-box img {
					margin-top: 55px;
					width: 100px;
				}


/* TABLET */
@media (max-width: 1024px) {
	main section.top {
		background-image: url("../assets/home-hero-tablet.webp");
	}
	main section.why-whoolley {
		background-position: 80%;
	}
	main section.elevator div.diagonal-text-container {
		width: 524px;
	}
	main section.why-whoolley div.diagonal-text-container {
		/* width: 574px; */
		width: 100%;
	}
}

/* MOBILE */
@media (max-width: 767px) {
	header div.container {
		padding: 0 20px;
	}
		header div.container svg#menu-hamburger {
			width: 35px;
		}
	main section.top {
		background-image: url("../assets/home-hero-mobile.webp");
	}
		div#motto-container {
			width: 95%;
			left: 20px;
			top: 600px;
		}
			main section.top div.motto h1 {
				left: 100vw;
			}
	main section.elevator div.text-container {
		padding: 0 25px;
	}
	main section.category div.category-container {
		flex-direction: column;
	}
		main section.category div.category-container div.category {
			width: 100%;
			margin-bottom: 75px;
		}
	main section.why-whoolley div.text-box * {
		font-size: 40px;
	}
}
