section {
	height: 1500px;
	align-items: center;
	background-image: url("/assets/contact/background.jpg");
	background-size: cover;
	background-position-x: 30%;
}

section > div {
	position: relative;
	gap: var(--column-width);
}

section div > div:last-child {
	margin-top: 0.5rem;
}

h1 { color: var(--woolley-blue); }

div.growing-slash {
	--height: 450px;
	--thickness: 0.25em;
	--offset: 0.65em;
	left: calc(var(--left) + 0.18em);
}

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 90px;
}

label {
	font-family: "Gotham Bold";
	cursor: pointer;
	text-transform: uppercase;
	color: var(--woolley-blue);
	margin-bottom: 1em;
}

label.required::after {
	content: "*";
	color: red;
	margin-left: 0.5rem;
}

input, textarea {
	padding: 0.6rem 1.2rem;
	border: 0.2rem solid var(--woolley-blue);
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
	margin-bottom: 1rem;
}

input:focus, textarea:focus {
	outline: none;
}

form div {
	margin-top: 1rem;
	height: 3rem;
}

p#send-message  {
	display: none;
	opacity: 0;
	transition: opacity 0.75s ease-out;
}


p.mailto {
	max-width: 350px;
	margin-bottom: 40px;
}

a.mailto h3 {
	color: var(--woolley-orange);
	transition: color 0.2s ease-out;
}
a.mailto:hover h3 {
	color: var(--woolley-blue);
}

@media screen and (min-width: 768px) {
	section > div {
		bottom: 60px;
	}
}

@media screen and (max-width: 767px) {
	section > div {
		max-width: 500px;
	}
}
