<section id="careers-landing">
	<h2 id="careers-landing-text" class="grey">Woolley isn't just a crazy word.</h2>
	<div id="namesake" class="pointer">
		<p>The Canadian Rockies where Woolley gets our name.</p>
		<img src="/assets/careers/dots.png" />
	</div>
</section>
<section class="trapezoid right blue">
	<h2 class="orange">We're a team.</h2>
	<p>Working together brings us opportunity in both scale and scope of projects.</p>
</section>
<section class="magazine max-w-container">
	<div class="max-w column align-center">
		<div class="text-1">
			<p>
				<span>Deep in the Canadian Rockies hides the north face of North Twin.</span>
				<span>It’s maybe best-viewed from a little spot known as Woolley Shoulder.</span>
			</p>
		</div>
		<div class="magazines w-100 flex justify-between">
			<img class="image-1" src="/assets/careers/magazine_1.jpg"/>
			<div class="image-2 relative">
				<img class="w-100 absolute-0" src="/assets/careers/magazine_2.jpg" style="aspect-ratio: 1505 / 1042"/>
				<div id="woolley-shoulder" class="pointer">
					<p><i>This is Woolley Shoulder</i></p>
					<img src="/assets/careers/dots.png" />
				</div>
			</div>
		</div>
		<p class="grey caption"><i>ASCENT</i> MAGAZINE, 1975 - 1976</p>
		<p class="text-2">Woolley is founded on the idea of combining what’s good about working with a team with what’s good about working for ourselves. A lot of time was spent creating an agency that genuinely supports and enriches all of us who call Woolley ours. It’s built around the values of doing the work we love together, while giving back to each other and to our communities. It’s created with equitability in every way: from how we collaborate and support one another to how we share in the profits of our business.</p>
	</div>
</section>
<section class="what-else max-w-container">
	<div class="max-w align-center justify-center">
		<div>
			<h2 class="orange">Okay, that sounds kind of cool.</h2>
			<h2 class="grey">What else?</h2>
		</div>
	</div>
</section>
<section class="cool max-w-container">
	<div class="max-w column justify-center">
		<div class="relative">
			<div class="growing-slash top-left slideout"></div>
			<p class="relative">Everyone is involved in decisions that affect Woolley including the ways we operate, the work we take on, and how we show up as a team.</p>
		</div>
		<div class="relative">
			<div class="growing-slash top-left slideout"></div>
			<p class="relative">We’re each responsible for bringing work to Woolley. This gives all of us opportunities to meet with our clients and to carry projects through the full lifecycle, from concept to execution to delivery.</p>
		</div>
		<div class="relative">
			<div class="growing-slash top-left slideout"></div>
			<p class="relative">We only work when there’s work. Like being freelance, there’s no guaranteed salary. That also means you get to set your own schedule.</p>
		</div>
	</div>
</section>
<section class="trapezoid double left blue">
	<div>
		<h2 class="orange">Still sound cool?</h2>
		<p>We’re always looking for talented creatives who are never quite satisfied, always curious, and sometimes nerdy. We’re stoked to hear your story.</p>
	</div>
	<div class="flex column align-end">
		<h2 class="mb-3 text-right">Send us a note.</h2>
		<a class="cta light slideout" href="/contact">Say 'Hey'</a>
	</div>
</section>
<section class="banner background-parallax">
	<h3 class="relative">
		<div class="growing-slash"></div>
		<span class="relative">We Create Outside.</span>
	</h3>
</section>
