* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1em;
}

:root {
	--woolley-blue: #323e48;
	--woolley-orange: #ff5100;
	--woolley-grey: #d7d7d4;
	--woolley-blue-faded: #323e487f;
	--column-width: 75px;
	--column-gap: 20px;
	--max-width: 1120px;
	--header-height: 7.14rem;
	--side-padding: 8vw;
}

@font-face {
	font-family: "Qonquer";
	src: url("/assets/fonts/Qonquer.otf");
}
@font-face {
	font-family: "Gotham Book";
	src: url("/assets/fonts/Gotham Book Regular.otf");
}
@font-face {
	font-family: "Gotham Bold";
	src: url("/assets/fonts/Gotham Bold.otf");
}

h1, h2, h3, a.cta {
	font-family: "Qonquer";
	font-weight: normal;
}
h2, h3, h4, h5, p, a {
	letter-spacing: 0.04em;
}
h1 {
	font-size: 5rem;
	letter-spacing: 0;
}
h2, span.slash {
	font-size: 4.3rem;
}
h3, a.cta {
	font-size: 2.14rem;
}
h5, h6 {
	font-size: 1.3rem;
	font-weight: normal;
	line-height: 1.2em;
	text-transform: uppercase;
}
h6 {
	letter-spacing: 0.3em;
}
p {
	line-height: 1.57em;
}
p.small {
	font-size: 0.71rem;
	line-height: 1.3em;
}
p.x-small {
	font-size: 0.57rem;
}
span.slash {
	font-family: "Gotham Bold";
	color: var(--woolley-orange);
}
a {
	color: inherit;
	text-decoration: none;
}

.white { color: white; }
.orange { color: var(--woolley-orange) }
.grey { color: var(--woolley-grey) }
.p-box p:not(:last-of-type) { margin-bottom: 1.43rem }

html {
	font-size: 14px;
	font-family: "Gotham Book";
	color: var(--woolley-blue);
}

/* Sizing & Positioning */
.flex { display: flex; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.align-center { align-items: center; }
.align-end { align-items: flex-end; }
.column { flex-direction: column; }
.relative { position: relative; }

.gapped-column {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.max-w-container {
	width: 100%;
	display: flex;
	justify-content: center;
}
.max-w {
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	padding: 0 var(--side-padding);
	box-sizing: content-box;
}
.half { width: 50%; }
.third { width: 33.333%; }
.quarter { width: 25%; }

.mb-1 { margin-bottom: 0.1em; }
.mb-2 { margin-bottom: 0.2em; }
.mb-3 { margin-bottom: 0.3em; }
.mb-4 { margin-bottom: 0.4em; }
.mb-5 { margin-bottom: 0.5em; }


/* CTA Link */
a.cta {
	width: fit-content;
	display: flex;
	align-items: center;
	text-decoration: none;
	position: relative;
	white-space: nowrap;
	color: var(--woolley-orange);
	transition: color 0.2s ease-out;
}

a.cta::after {
	content: "";
	width: 0.95em;
	height: 1em;
	margin-left: 1.6em;
	mask: url("/assets/woolley_lines.svg") center/contain no-repeat;
	background-color: var(--woolley-orange);
	transition: background-color 0.2s ease-out, transform 0.2s ease-out;
}

a.cta.light:hover {
	color: var(--woolley-blue);
}
a.cta.light:hover::after {
	background-color: var(--woolley-blue);
}

a.cta.dark:hover {
	color: var(--woolley-grey);
	/* color: white; */
}
a.cta.dark:hover::after {
	background-color: var(--woolley-grey);
	/* background-color: white; */
}

a.cta.small {
	font-size: 1.5rem;
}
a.cta.small::after {
	margin-left: 1em;
}

/* Rotating buttons */
.hover-rotate
{
	transition: transform 0.2s ease-out;
}
a.cta:hover::after,
.hover-rotate:hover
{
	transform: rotate(0.5turn);
}

/* Clip path overlay */
/* parent container must be position: relative */
.clip-path-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	/* clip-path: polygon(60% 0, 100% 0, 100% 100%, calc(60% - [half the height]) 100%); */
	/* mix-blend-mode: */
}

@media screen and (max-width: 1024px) {
	html { font-size: 12px; }
}

@media screen and (max-width: 767px) {
	h2 {
		font-size: 3.4rem;
	}
	section.trapezoid > div {
		width: 100%;
		min-width: initial;
	}
	section.trapezoid.right > div {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 15vw 100%, 0 calc(100% - 30vw));
		padding: 0 var(--side-padding);
	}

	.max-w.responsive {
		flex-direction: column;
	}
	.max-w.responsive > * {
		width: 100%;
	}
}
