/* z-stack
	9: div#menu
	8: div#menu-overlay
	7: header
	6: div#loading-overlay
*/

body {
	background-color: var(--woolley-blue);
}

header {
	height: var(--header-height);
	position: fixed;
	top: 0;
	z-index: 7;
}

header div.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;
}

header div#header-background {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: var(--woolley-blue);
	opacity: 0;
	transition: opacity 0.125s ease-out;
}

header img.logo { height: 3.2rem; }
header img.menu { width: 3.2rem; }

div#menu-hamburger {
	height: 100%;
	width: var(--header-height);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: relative;
	left: 27px;
}


div#menu-overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 8;
	display: none;
	opacity: 0;
	transition: opacity 0.2s;
}

div#menu {
	width: 50%;
	height: 100%;
	padding: 50px;
	/* display: flex; */
	display: none;
	flex-direction: column;
	align-items: flex-end;
	background-color: var(--woolley-blue);
	overflow-y: scroll;
	z-index: 9;
	position: fixed;
	left: -50%;
	opacity: 0;
	transition: left 0.5s, opacity 0.4s;
}

div#menu-exit-button {
	width: 2.8rem;
	margin-bottom: 85px;
	cursor: pointer;
}

div#menu nav {
	width: 100%;
}

div#menu nav a {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1.4rem;
}

div#menu nav a > * {
	transform-origin: center right;
	transition: transform 0.01s ease-out;
}

div#menu nav a:focus > *,
div#menu nav a:hover > *
{
	transform: scale(1.3);
}


div#loading-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 6;
	background-color: white;
	align-items: center;
	justify-content: center;

	display: none;
	opacity: 0;
}


main {
	min-height: 100vh;
	background-color: white;
	overflow-x: hidden;
}


footer {
	--footer-row-gap: min(80px, calc(var(--side-padding) * 2));
	min-height: 900px;
	position: relative;
	background-image: url("/assets/footer/footer_background.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

footer div.footer-container {
	position: relative;
	z-index: 1;
	padding-top: 150px;
	padding-bottom: 40px;
}

footer div.footer-content {
	width: 100%;
	margin-bottom: min(80px, var(--side-padding));
	display: flex;
	justify-content: space-between;
	gap: var(--footer-row-gap);
}

footer div.fixed-height { height: 200px; }
footer div.gapped-column {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

footer h3.hashtag {
	font-size: 2rem;
	line-height: 1.5rem;
}

footer div.links,
footer div.social {
	display: flex;
	gap: 2.14rem;
}

footer div.social img { height: 1.43rem; }

footer div.social > * {
	transition: transform 0.1s;
}

footer div.social > *:hover {
	transform: scale(1.2);
}

footer div.one-percent {
	max-width: 300px;
	margin-bottom: 200px;
}
footer div.one-percent img {
	width: 11.5rem;
	margin-bottom: 0.8rem;
}
footer div.one-percent p { text-transform: uppercase; }

footer div.copyright {
	position: absolute;
	bottom: 40px;
	align-self: center;
}
footer div.copyright img {
	width: 50px;
	margin-bottom: 20px;
}
footer div.copyright span { margin: 0 0.5em; }

div#footer-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	/* clip-path: polygon(60% 0, 100% 0, 100% 100%, calc(60% - 450px) 100%); */
	mix-blend-mode: soft-light;
}

div.header-spacer { height: var(--header-height); }

@media screen and (max-width: 767px) {
	div#menu {
		width: 100%;
	}

	footer div.footer-content {
		flex-direction: column;
		justify-content: flex-start;
	}

	footer div.fixed-height {
		height: initial;
		margin-bottom: var(--footer-row-gap);
	}

	footer div.links {
		flex-wrap: wrap;
	}
}
