section.culture {
	height: 100vh;
	min-height: 800px;
	max-height: 1000px;
	display: flex;
	background-image: url("assets/culture.webp");
	background-position: bottom center;
	background-size: cover;
	position: relative;
}

section.culture h1 {
	max-width: 50vw;
	font-size: 60px;
	line-height: 60px;
	position: relative;
	top: 33%;
}

section.culture div.mountain-pointer {
	width: 42vw;
	position: absolute;
	left: 50vw;
	bottom: 17%;
}
	section.culture div.mountain-pointer p {
		color: var(--grey-text-color);
		font-size: 0.8em;
		margin-bottom: 10px;
	}
	section.culture div.mountain-pointer img {
		position: relative;
		left: 60px;
	}

section.north-twin {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 200px 0;
}

@media (max-width: 767px) {
	section.culture h1 {
		max-width: initial;
		top: 25%;
	}
	section.culture div.mountain-pointer p {
		text-align: center;
	}
	section.culture div.mountain-pointer img {
		left: 50%;
	}
}
