<section class="culture standard-padding">
	<h1 id="crazy-word" class="parallax-scroll">Woolley isn't just a crazy word.</h1>
	<div class="mountain-pointer">
		<p>The Canadian Rockies where Woolley gets our name.</p>
		<img src="assets/vertical-dotted-line-orange-fade.png">
	</div>
</section>
<section class="align-right">
	<div class="trapezoid right">
		<div class="text-box">
			<h2>Stronger together.</h2>
			<h6 class="grey">Working as a team brings us opportunity in both scale and scope of projects.</h6>
		</div>
	</div>
</section>
<section class="north-twin">
	<p>Deep in the Canadian Rockies hides the north face of North Twin.</p>
	<p>It’s maybe best-viewed from a little spot known simply as Woolley Shoulder.</p>
</section>
