h3 { font-size: 2.5rem; }
h6 { font-size: 0.8rem; }

div.text-pair {
	display: flex;
	align-items: center;
	gap: 10px;
}
div.text-pair.one-line {
	align-items: flex-end;
}

div.text-pair h3 {
	position: relative;
	top: 0.1rem;
}
div.text-pair.one-line h6 {
	position: relative;
	top: -0.15rem;
}

div.location {
	position: absolute;
	bottom: 80px;
	right: var(--bounded);
	padding-left: var(--side-padding);
	flex-wrap: wrap;
}


section.paragraph p {
	max-width: calc(var(--column-width) * 8 + var(--column-gap) * 7);
}


/* section.cover div.image-parallax { */
section.cover img {
	width: calc(100% - var(--side-padding) * 2);
	max-width: calc(var(--max-width) - 2 * (var(--column-width) + var(--column-gap)));
	/* height: 1500px; */
	aspect-ratio: 1938 / 1615;
}


p.quote {
	--mark-size: 2.1rem;
	--mark-position: 3.5em;
	max-width: calc(100vw - 2 * (var(--side-padding) + var(--mark-position)));
}

p.quote::before, p.quote::after {
	content: "";
	width: var(--mark-size);
	height: var(--mark-size);
	position: absolute;
	top: -1.6em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

p.quote::before {
	left: calc(var(--mark-position) * -1);
	background-image: url("/assets/work/mountaineers/quotation_left.png");
}

p.quote::after {
	right: calc(var(--mark-position) * -1);
	background-image: url("/assets/work/mountaineers/quotation_right.png");
}


section.samples {
	margin-bottom: 400px;
}
