div.location {
	display: flex;
	align-items: center;
	gap: 10px;

	position: absolute;
	bottom: 80px;
	right: var(--bounded);
}

div.location h3 {
	font-size: 2.5rem;
	position: relative;
	top: 0.1rem;
}

div.location h6 {
	font-size: 0.8rem;
}

div.location p {
	text-transform: uppercase;
}


section.paragraph p {
	max-width: calc(var(--column-width) * 8 + var(--column-gap) * 7);
}


section.cover img {
	max-width: calc(var(--max-width) - 2 * (var(--column-width) + var(--column-gap)));
	aspect-ratio: 1938 / 1615;
}


p.quote {
	--mark-size: 2.1rem;
	--mark-position: 3.5em;
	max-width: calc(100vw - 2 * (var(--side-padding) + var(--mark-position)));
}

p.quote::before, p.quote::after {
	content: "";
	width: var(--mark-size);
	height: var(--mark-size);
	position: absolute;
	top: -1.6em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

p.quote::before {
	left: calc(var(--mark-position) * -1);
	background-image: url("/assets/work/mountaineers/quotation-left.png");
}

p.quote::after {
	right: calc(var(--mark-position) * -1);
	background-image: url("/assets/work/mountaineers/quotation-right.png");
}
