<!--
<section id="mountaineers-landing">
	<div class="location">
		<h3 class="grey">Location</h3>
		<div class="grey">
			<h6>North Cascades National Park, Washington</h6>
			<h6>48.4679°N, 121.0601°W</h6>
		</div>
	</div>
</section>
-->
<section class="landing-image">
	<div id="mountaineers-landing"></div>
	<div id="mountaineers-location" class="location">
		<h3 class="grey">Location</h3>
		<div class="grey">
			<h6>North Cascades National Park, Washington</h6>
			<h6>48.4679°N, 121.0601°W</h6>
		</div>
	</div>
</section>
<section class="trapezoid right blue">
</section>
<section class="paragraph max-w-container spaced">
	<p class="max-w">An unexpected opportunity arose when Mountaineers Books announced a book being published celebrating the North Cascades. Having climbed, skied, and hiked throughout the range, Thom was able to provide several photographs for consideration. Having one selected would have been an enormous honor. Ultimately, having a photograph selected for the cover was a considerably greater honor. His photograph made from the Sahale Glacier camp has since been featured in Mountaineers exhibits, tradeshows, and promotions.</p>
</section>
<section class="cover max-w-container">
	<img class="max-w scroll-fade-in" src="/assets/work/mountaineers/book-studio.jpg"/>
</section>
<section class="spaced flex column align-center">
	<p class="quote mb-5 relative text-center">Sometimes I am so taken with a place that I dream about it.</p>
	<p class="grey"><i>Molly Hashimoto, conservation artist</i></p>
</section>
