<div class="header-spacer"></div>
<h1 style="text-align: center">Columns</h1>
<div class="row column-container-guide">
	<div class="col-12 column-guide">col-12</div>
</div>
<div class="row column-container-guide">
	<div class="col-8 column-guide">col-8</div>
	<div class="col-4 column-guide">col-4</div>
</div>
<div class="row column-container-guide">
	<div class="col-7 column-guide">col-7</div>
	<div class="col-5 column-guide">col-5</div>
</div>
<div class="row column-container-guide">
	<div class="col-6 column-guide">col-6</div>
	<div class="col-6 column-guide">col-6</div>
</div>
<div class="row column-container-guide">
	<div class="col-4 column-guide">col-4</div>
	<div class="col-4 column-guide">col-4</div>
	<div class="col-4 column-guide">col-4</div>
</div>
<div class="row column-container-guide">
	<div class="col-3 column-guide">col-3</div>
	<div class="col-3 column-guide">col-3</div>
	<div class="col-3 column-guide">col-3</div>
	<div class="col-3 column-guide">col-3</div>
</div>
<div class="row column-container-guide">
	<div class="col-2 column-guide">col-2</div>
	<div class="col-2 column-guide">col-2</div>
	<div class="col-2 column-guide">col-2</div>
	<div class="col-2 column-guide">col-2</div>
	<div class="col-2 column-guide">col-2</div>
	<div class="col-2 column-guide">col-2</div>
</div>
<div class="row column-container-guide">
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
	<div class="col-1 column-guide">col-1</div>
</div>
<div class="header-spacer"></div>
