div.column-container-guide {
	height: 100px;
	background-color: aliceblue;
	margin-bottom: 20px;
}

div.column-guide {
	background-color: rgba(250, 100, 40, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}
