* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--woolley-blue: #323E48;
	--woolley-orange: #ff5100;
	--woolley-grey: #d7d7d3;
	--column-width: 75px;
	--column-gap: 20px;
	--header-height: 7.14rem;
	--tablet: 1024px;
	--phone: 767px;
	--side-padding: 8vw;
}

@font-face {
	font-family: "Qonquer";
	src: url("assets/fonts/Qonquer.otf");
}
@font-face {
	font-family: "Gotham Book";
	src: url("assets/fonts/Gotham Book Regular.otf");
}
@font-face {
	font-family: "Gotham Bold";
	src: url("assets/fonts/Gotham Bold.otf");
}

h1, h2 {
	font-family: "Qonquer";
	font-weight: normal;
}

h1 {
	font-size: 5rem;
	line-height: 5rem;
}
h2, span.slash {
	font-size: 4.3rem;
	line-height: 4.3rem;
}
h2 {
	letter-spacing: 0.04em;
}
h5 {
	font-size: 1.3rem;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 0.3em;
}
span.slash {
	font-family: "Gotham Bold";
	color: var(--woolley-orange);
}
a {
	color: inherit;
}

.white { color: white; }
.orange { color: var(--woolley-orange) }

html {
	font-size: 14px;
	font-family: "Gotham Book";
	color: var(--woolley-blue);
}

/* Columns */
.row {
	width: 100%;
	display: flex;
	justify-content: center;
	column-gap: var(--column-gap);
	padding: 0 var(--side-padding);
}
.col-12 {
	width: calc(12 * var(--column-width) + 11 * var(--column-gap));
}
.col-8 {
	width: calc(8 * var(--column-width) + 7 * var(--column-gap));
}
.col-7 {
	width: calc(7 * var(--column-width) + 6 * var(--column-gap));
}
.col-6 {
	width: calc(6 * var(--column-width) + 5 * var(--column-gap));
}
.col-5 {
	width: calc(5 * var(--column-width) + 4 * var(--column-gap));
}
.col-4 {
	width: calc(4 * var(--column-width) + 3 * var(--column-gap));
}
.col-3 {
	width: calc(3 * var(--column-width) + 2 * var(--column-gap));
}
.col-2 {
	width: calc(2 * var(--column-width) + var(--column-gap));
}
.col-1 {
	width: var(--column-width);
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Trapezoid */
section.trapezoid {
	height: 500px;
	display: flex;
}

section.trapezoid.right {
	justify-content: flex-end;
}

section.trapezoid > div {
	width: calc(100vw - 330px);
	min-width: var(--phone);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section.trapezoid.right > div {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 250px 100.00%);
	padding: 0 100px 0 225px;
}

@media screen and (max-width: 1024px) {
	html { font-size: 12px; }
}

@media screen and (max-width: 767px) {
	.row {
		flex-wrap: wrap;
	}
	.col-4 {
		width: 100%;
	}
	section.trapezoid > div {
		width: 100%;
		min-width: initial;
	}
	section.trapezoid.right > div {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 15vw 100%, 0 calc(100% - 30vw));
		padding: 0 var(--side-padding);
	}
}
