* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--accent-color: #323E48;
	--woolley-orange: #ff5100;
	--grey-text-color: #d7d7d3;
}
.accent-color {
	color: var(--accent-color);
}
.grey {
	color: var(--grey-text-color);
}

@font-face {
	font-family: "Qonquer";
	src: url("assets/Face Off M54.ttf");
}
@font-face {
	font-family: "Gotham Book";
	src: url("assets/Gotham Book Regular.otf");
}
@font-face {
	font-family: "Gotham Bold";
	src: url("assets/Gotham Bold.otf");
}
@font-face {
	font-family: "Qonquer Actual";
	src: url("assets/Qonquer.otf");
}
.white {
	color: white;
}

h1, h2 {
	font-family: "Qonquer Actual";
	font-weight: normal;
	color: var(--woolley-orange);
	letter-spacing: 0.4px;
}
h1 {
	font-size: 128px;
	line-height: 108px;
}
h2 {
	font-size: 26px;
	line-height: 1em;
}
h3, h5, h6 {
	font-family: "Gotham Book";
	font-weight: lighter;
	text-transform: uppercase;
	color: var(--accent-color);
}
h3 {
	font-size: 36px;
	letter-spacing: 0.4px;
}
h5 {
	font-size: 22px;
	color: var(--woolley-orange);
}
h6 {
	font-size: 18px;
	font-weight: lighter;
	line-height: 22px;
	letter-spacing: 0.4px;
}
h6.spaced {
	font-weight: lighter;
	letter-spacing: 5px;
}
p {
	font-family: "Gotham Book";
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: var(--accent-color);
}
a {
	text-decoration: none;
}

/* PAGE LINK BUTTON */
a.cta {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
a.cta h2 {
	transition: color 0.2s;
	margin-right: 20px;
	font-size: 30px;
}
a.cta.light:hover h2 {
	color: var(--accent-color);
}
a.cta.dark:hover h2 {
	color: var(--grey-text-color);
}
a.cta img {
	height: 25px;
}

.slideout-left, .slideout-right {
	opacity: 0;
}

.centered-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cap-width {
	width: 100%;
	max-width: 1120px;
}
.standard-padding {
	padding: 0 8%;
}
.align-right {
	display: flex;
	justify-content: flex-end;
}
div.trapezoid {
	width: calc(100vw - 330px);
	min-width: 767px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--accent-color);
	transition: clip-path 0.5s, padding 0.5s;
}
div.trapezoid.left {
	clip-path: polygon(0 0, 100% 0, calc(100% - 250px) 100%, 0 100%);
	padding: 0 225px 0 100px;
}
div.trapezoid.right {
	clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 250px 100.00%);
	padding: 0 100px 0 225px;
}

.column-container {
	display: flex;
}
	.column-container.reverse {
		flex-direction: row-reverse
	}
.column.half {
	width: 50%;
}
.column.twothird {
	width: 66.667%;
}
.column.third {
	width: 33.333%;
}




body {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	font-family: "Gotham Book";
	color: var(--accent-color);
}
div#root {
	padding-top: 97px;
}
div.background-fill {
	position: absolute;
	background-color: var(--accent-color);
}
br {
	margin-bottom: 25px;
}

header {
	height: 97px;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	background-color: var(--accent-color);
	z-index: 2;
}
	header div.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
		header div.container a img {
			width: 100px;
		}
		div#menu-hamburger {
			height: 100%;
			width: 97px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
		div#menu-hamburger img {
			width: 40px;
		}


div#nav-overlay-container {
	width: 100%;
	height: 100vh;
	position: fixed;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 5;
}
	div#menu-container {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: fixed;
		padding: 50px;
		background-color: var(--accent-color);
		left: -50%;
		opacity: 0;
		transition: left 0.5s, opacity 0.4s;
		z-index: 5;
	}
		div#menu-exit-button {
			height: 40px;
			width: 40px;
			cursor: pointer;
			margin-bottom: 85px;
		}
			nav {
				width: 100%;
				display: flex;
				flex-direction: column;
			}
			nav a {
				margin-bottom: 20px;
			}
				nav a h2 {
					font-size: 55px;
				}
				nav a:hover h2 {
					transform: scale(1.5);
					transform-origin: center right;
				}

footer {
	height: 1225px;
	padding: 225px 8% 35px 8%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url("assets/footer-mountains.png");
	background-size: cover;
	background-position: bottom center;
}
	footer div.top {
		display: flex;
	}
	footer div.left {
		width: 66.667%;
		padding-right: 80px;
	}
		h2.footer {
			font-size: 65px;
			margin-bottom: 10px;
		}
		footer div.left h6 {
			margin-bottom: 160px;
		}
		footer div.left a.cta {
			margin-bottom: 10px;
		}
		footer div.left p {
			margin-bottom: 100px;
		}
		footer div.left div.one-percent-container img {
			width: 175px;
			margin-bottom: 15px;
		}
		footer div.left div.one-percent-container img.one-percent-dark {
			display: none;
		}
		footer div.left p.planet {
			width: 50%;
			font-size: 16px;
			color: white;
		}

	footer div.right {
		width: 33.333%;
	}
		footer div.right h2.hashtag {
			font-size: 24px;
			line-height: 24px;
			color: var(--accent-color);
		}
		footer div.right div.social-icons {
			display: flex;
			gap: 35px;
			margin: 30px 0;
			padding-left: 10px;
		}
			footer div.right div.social-icons img {
				width: 25px;
			}
		footer div.right div.page-links {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
			align-items: center;
			margin-bottom: 135px;
		}
		footer div.right div.office-info {
			margin-top: 15px;
		}
			footer div.right div.office-info p {
				font-size: 14px;
			}
		
	footer div.bottom {
		text-align: center;
		margin-top: 30px;
	}
		footer div.bottom img {
			width: 50px;
			margin-bottom: 15px;
		}
		footer div.bottom p.copyright {
			font-size: 12px;
			color: var(--grey-text-color);
			text-transform: uppercase;
		}


/* TABLET */
@media (max-width: 1024px) {
}

/* MOBILE */
@media (max-width: 767px) {
	div.trapezoid {
		width: 100%;
		min-width: initial;
		height: fit-content;
	}
		div.trapezoid.left {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			/* padding: 50px 25px; */
			padding: 50px 8%;
		}
		div.trapezoid.right {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			/* padding: 50px 25px; */
			padding: 50px 8%;
		}
	.column-container, .column-container.reverse {
		flex-direction: column;
		align-items: center;
	}
	/* .column-container.reverse { */
	/* 	flex-direction: column-reverse; */
	/* } */
	.column-container .column {
		width: 100%;
	}

	header div.container {
		padding: 0 20px;
	}

	footer {
		height: fit-content;
		padding-top: 100px;
		background-size: auto 130%;
		background-position: top right;
	}
	footer div.top {
		flex-direction: column;
	}
	footer div.left {
		padding: 0;
		width: initial;
	}
		footer div.left h6 {
			margin-bottom: 60px;
		}
		footer div.left p.coffee {
			margin-bottom: 40px;
		}
		footer div.left div.one-percent-container {
			display: flex;
			align-items: center;
			margin-bottom: 40px;
		}
			footer div.left div.one-percent-container img {
				width: 135px;
				margin-right: 40px;
			}
			footer div.left div.one-percent-container img.one-percent-light {
				display: none;
			}
			footer div.left div.one-percent-container img.one-percent-dark {
				display: initial;
			}
			footer div.left p.planet {
				font-size: 12px;
				color: black;
				margin: 0;
			}
	footer div.right {
		width: initial;
	}
		footer div.right div.half {
			width: 50%;
		}
		footer div.right div.page-links {
			flex-direction: column;
			flex-wrap: initial;
			align-items: flex-start;
			margin-bottom: 40px;
		}
}
