section.landing {
	/* height: 1000px; */
	/* min-height: 100vh; */
	height: 100vh;
	background-color: rgb(114, 154, 196);
	overflow-y: hidden;
	position: relative;
}
section.landing img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

img#landing-fg {
	object-position: 70% center;
	z-index: 1;
}
img#landing-bg {
}

div#landing-bg-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	clip-path: polygon(60% 0px, 100% 0px, 100% 100%, calc(60% - 50vh) 100%);
	mix-blend-mode: overlay;
	/* opacity: 0; */
	/* transition: opacity 0.5s; */
}

div#motto-container {
	position: absolute;
	right: 18%;
	color: white;
	transition: opacity 1s ease-out;
	z-index: 1;
}

div#motto-container h1 {
	position: relative;
	right: 0;
	transition: right 0.2s ease-out;
	opacity: 0;
}

section.trapezoid {
	background-color: var(--woolley-blue);
}

section.trapezoid.right > div {
	background-color: var(--woolley-orange);
}

/* Categories */
section.categories {
	padding: 200px var(--side-padding);
}

div.category {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.category h2 {
	margin: 0.5em 0 1em 0;
}

div.category h5 {
	margin-bottom: 1em;
}

div.category ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}

section.camera {
	padding-bottom: 200px;
}
section.camera > div {
}
section.camera p {
	margin-bottom: 80px;
}
section.camera div.camera {
	height: 400px;
}
section.camera div.camera img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media screen and (max-width: 767px) {
	section.categories {
		row-gap: 100px;
	}
	section.camera {
		flex-direction: column-reverse;
		align-items: center;
		row-gap: 60px;
	}
}
