div.categories {
	margin: 200px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--column-gap);
}

div.category {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.category div.slash {
	--height: 4.3rem;
	--thickness: 0.6rem;
	position: static;
}

div.category h2 {
	margin: 0.5em 0 1em 0;
}

div.category h5 {
	text-align: center;
	margin-bottom: 1em;
}

div.category ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}


section.camera {
	margin-bottom: 200px;
}

section.camera > div {
	height: 100%;
	gap: var(--side-padding);
}

/* get a transparent png! */
section.camera a.cta {
	position: relative;
	z-index: 1;
}

section.camera p {
	margin-bottom: 80px;
}

div#camera-spin-container {
	height: 400px;
	position: relative;
}

div#camera-spin-container img.favorite-camera {
	width: 300px;
	position: absolute;
	top: 60%;
	right: 95%;
	z-index: 0;
}


div.showcases {
	/* --row-height: 340px; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: repeat(auto-fill, var(--row-height)); */
	gap: min(20px, 4vw);
}

div.showcases > div {
	width: 100%;
	height: 100%;
	position: relative;
	/* min-height: var(--row-height); */
	background-color: var(--woolley-blue-faded);
	aspect-ratio: 1000 / 654;
}

div.showcases > div.double {
	grid-row-end: span 2;
	aspect-ratio: 1000 / 1308;
}

div.showcases > div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}


section.partners {
	min-height: 700px;
	padding: 200px 0;
	display: flex;
	align-items: center;
}

section.partners > div { position: relative; }

section.partners h3 {
	position: absolute;
	top: calc(-40px - 1em);
	color: var(--woolley-orange);
}

section.partners div.image-container {
	--width-divisor: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 70px 10%;
}

div.image-container a.w-100 { width: min(130px, calc(130% / var(--width-divisor))); }
div.image-container a.w-130 { width: min(130px, calc(130% / var(--width-divisor))); }
div.image-container a.w-170 { width: min(170px, calc(170% / var(--width-divisor))); }
div.image-container img { width: 100%; }


@media screen and (max-width: 1024px) {
	section.partners div.image-container {
		--width-divisor: 10;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	div.categories {
		grid-template-columns: repeat(2, 1fr);
		gap: 100px var(--column-gap);
	}

	div.image-container a:nth-child(3n - 1) {
		justify-self: center;
	}

	div.image-container a:nth-child(3n) {
		justify-self: right;
	}
}

@media screen and (max-width: 767px) {
	div.categories {
		grid-template-columns: 1fr;
		gap: 100px;
	}

	section.camera > div {
		flex-direction: column-reverse;
		gap: calc(var(--side-padding) * 2);
	}

	div.showcases > div h6 { display: none; }

	section.partners div.image-container {
		--width-divisor: 5;
	}
}
