div.categories {
	margin: 200px 0;
}

div.category {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.category div.slash {
	--height: 4.3rem;
	--thickness: 0.6rem;
	position: static;
}

div.category h2 {
	margin: 0.5em 0 1em 0;
}

div.category h5 {
	margin-bottom: 1em;
}

div.category ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
}


section.camera {
	margin-bottom: 200px;
}
section.camera > div {
	height: 100%;
	gap: var(--side-padding);
}
section.camera p {
	margin-bottom: 80px;
}

div#camera-spin-container {
	height: 400px;
}
/* section.camera div.camera img { */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	object-fit: contain; */
/* } */


div.work-grid {
	/* --row-height: 340px; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: repeat(auto-fill, var(--row-height)); */
	gap: min(20px, 4vw);
}

div.work-grid > div {
	position: relative;
	/* min-height: var(--row-height); */
	background-color: var(--woolley-blue-faded);
}

div.work-grid > div.double {
	grid-row-end: span 2;
}

div.work-grid > div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


section.partners {
	min-height: 500px;
	padding: 200px 0;
}

section.partners > div { position: relative; }

section.partners h3 {
	position: absolute;
	top: -60px;
	color: var(--woolley-orange);
}

section.partners div.image-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	--width-divisor: 12;
}

div.image-container a.w-100 { width: min(130px, calc(130% / var(--width-divisor))); }
div.image-container a.w-130 { width: min(130px, calc(130% / var(--width-divisor))); }
div.image-container a.w-170 { width: min(170px, calc(170% / var(--width-divisor))); }
div.image-container img { width: 100%; }


@media screen and (max-width: 1024px) {
	section.partners div.image-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 50px;
		--width-divisor: 2.5;
	}
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	div.image-container a:nth-child(3n - 1) {
		justify-self: center;
	}

	div.image-container a:nth-child(3n) {
		justify-self: right;
	}
}

@media screen and (max-width: 767px) {
	div.categories { gap: 100px; }

	section.camera > div {
		flex-direction: column-reverse;
		gap: calc(var(--side-padding) * 2);
	}

	div.work-grid > div h6 { display: none; }

	section.partners > div {
		align-items: center;
	}

	section.partners div.image-container {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
}
