<section class="landing">
	<div id="motto-container">
		<h1>We</h1>
		<h1>Create</h1>
		<h1>Outside.</h1>
	</div>
	<img id="landing-fg" src="/assets/home/landing_image_foreground.webp" />
	<img id="landing-bg" src="/assets/home/landing_image_background.webp" />
	<div id="landing-bg-overlay" class="clip-path-overlay"></div>
</section>
<section class="trapezoid right">
	<h5>Woolley is an outdoor-focused creative agency.</h5>
	<p class="white">All the expertise of a full-service ad agency without any of the complications.</p>
</section>
<section class="max-w-container">
	<div id="categories-section" class="categories max-w responsive">
		<div class="category third">
			<span class="slash">/</span>
			<h2>Design</h2>
			<ul>
				<li><h5>Branding</h5></li>
				<li><h5>Websites</h5></li>
				<li><h5>Logos</h5></li>
				<li><h5>Packaging</h5></li>
				<li><h5>Collateral</h5></li>
				<li><h5>Copywriting</h5></li>
			</ul>
		</div>
		<div class="category third">
			<span class="slash">/</span>
			<h2>Photo</h2>
			<ul>
				<li><h5>Studio Product</h5></li>
				<li><h5>Location Product</h5></li>
				<li><h5>Lifestyle</h5></li>
				<li><h5>Studio On-Figure</h5></li>
				<li><h5>Industry Events</h5></li>
				<li><h5>Environmental</h5></li>
				<li><h5>Drone</h5></li>
			</ul>
		</div>
		<div class="category third">
			<span class="slash">/</span>
			<h2>Strategy</h2>
			<ul>
				<li><h5>Brand Guidelines</h5></li>
				<li><h5>Campaign</h5></li>
				<li><h5>Product Launch</h5></li>
			</ul>
		</div>
	</div>
</section>
<section class="camera max-w-container">
	<div class="max-w responsive">
		<div class="half flex align-center">
			<div>
				<p>As a group of outdoor industry veterans, we specialize in outdoor content through creative strategy, photography, video &amp; design.</p>
				<a href="/work" class="cta light slideout">Check out our work.</a>
			</div>
		</div>
		<div id="camera-spin-container" class="half"></div>
	</div>
</section>
<section class="work max-w-container">
	<div id="showcase-container" class="work-grid max-w">
		<!-- SlideoutObserver
		<div>
			<img src={value} alt={key}/>
			<h6><span>{key}</span></h6>
		</div>
		-->
	</div>
</section>
<section class="partners max-w-container">
	<div class="max-w column">
		<h3>Partners</h3>
		<div id="partner-links" class="image-container fade-in-children">
			<a href="https://www.rei.com" target="_blank" class="w-100">
				<img src="/assets/home/partners_REI.png" />
			</a>
			<a href="https://ruffwear.com" target="_blank" class="w-170">
				<img src="/assets/home/partners_ruffwear.png" />
			</a>
			<a href="https://sterlingrope.com" target="_blank" class="w-130">
				<img src="/assets/home/partners_sterling.png" />
			</a>
			<a href="https://www.mountaineers.org/books" target="_blank" class="w-170">
				<img src="/assets/home/partners_mountaineers.png" />
			</a>
			<a href="https://discoversendline.com" target="_blank" class="w-100">
				<img src="/assets/home/partners_sendline.png" />
			</a>
			<a href="https://outdooreconomy.oregonstate.edu" target="_blank" class="w-170">
				<img src="/assets/home/partners_osu.png" />
			</a>
		</div>
	</div>
</section>
