<section id="top-section" class="top">
	<div id="motto-container" class="motto">
		<h1>we</h1>
		<h1>create</h1>
		<h1>outside.</h1>
	</div>
</section>
<section id="elevator-section" class="elevator">
	<div class="text-container diagonal-text-container">
		<div class="text-box">
			<h5>Woolley is an outdoor-focused creative agency.</h5>
			<h6>All the expertise of a full-service ad agency without any of the complications.</h6>
		</div>
	</div>
	<div class="background-fill"></div>
</section>
<section id="category-section" class="category">
	<div id="category-container" class="category-container">
		<div class="category">
			<span>/</span>
			<h2 class="centered">design</h2>
			<ul>
				<li><h6>branding</h6></li>
				<li><h6>logos</h6></li>
				<li><h6>websites</h6></li>
				<li><h6>collateral</h6></li>
				<li><h6>packaging</h6></li>
			</ul>
		</div>
		<div class="category">
			<span>/</span>
			<h2 class="centered">photo</h2>
			<ul>
				<li><h6>lifestyle</h6></li>
				<li><h6>product</h6></li>
				<li><h6>studio</h6></li>
				<li><h6>action</h6></li>
				<li><h6>environmental</h6></li>
			</ul>
		</div>
		<div class="category">
			<span>/</span>
			<h2 class="centered">strategy</h2>
			<ul>
				<li><h6>brand</h6></li>
				<li><h6>campaign</h6></li>
				<li><h6>product launch</h6></li>
			</ul>
		</div>
	</div>
</section>
<section id="why-whoolley-section" class="why-whoolley">
	<div id="why-whoolley-text-container" class="text-container diagonal-text-container">
		<div class="text-box">
			<h2 id="why-whoolley-header" class="centered">Why Woolley<span>?</span></h2>
			<h2 class="centered grey">1. create meaningful work.</h2>
			<h2 class="centered grey">2. do it together.</h2>
			<h2 class="centered grey">3. give back.</h2>
			<img src="assets/woolley_icon.png" alt="woolley icon">
		</div>
	</div>
	<div class="background-fill"></div>
</section>
<section id="dreamers-section" class="dreamers">
	<div id="dreamers-container" class="dreamers-container">
		<div class="text-box">
			<img src="assets/orange_line_slash.png">
			<h3>we are professional dreamers.</h3>
		</div>
	</div>
</section>
<section id="example-section" class="example half-and-half">
	<div class="half-and-half">
		<div class="text-half">
			<div class="text-box">
				<p>
					As a group of outdoor industry veterans, we specialize in outdoor content through creative strategy, design &amp; photography.
					<br>
					We work with purpose-driven brands and we keep things simple, straightforward and real.
				</p>
				<div class="slideout-left">
					<a href="/work" class="page-link cta light">
						<h2>check out our work.</h2>
						<img src="assets/woolley-lines.png">
					</a>
				</div>
			</div>
		</div>
		<div class="img-half">
			<img src="assets/avy_web.png">
		</div>
	</div>
</section>
<section id="work-slash-section" class="work-slash"></section>
<section id="who-we-are-section" class="who-we-are half-and-half">
	<div class="container half-and-half">
		<div class="img-half">
			<img src="assets/who-we-are_masked.png">
		</div>
		<div class="text-half">
			<div class="text-box">
				<p>
					We climb mountains, explore trails on two wheels &amp; two feet and immerse ourselves in rivers &amp; oceans.
					<br>
					We play hard so that we bring you creative inspiration.
				</p>
				<div class="slideout-right">
					<a href="/about" class="page-link cta dark">
						<h2>check out who we are.</h2>
						<img src="assets/woolley-lines.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
