div.diagonal-text-container {
	width: calc(100vw - 500px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 50px;
	z-index: 1;
}

section.half-and-half {
	height: 700px;
	display: flex;
	justify-content: center;
}
	div.half-and-half {
		width: 100%;
		display: flex;
		max-width: 1900px;
	}
		div.half-and-half > div {
			width: 50%;
			display: flex;
			justify-content: center;
		}
		div.half-and-half div.text-half {
			flex-direction: column;
			padding: 0 8%;
		}
			div.half-and-half div.text-half p {
				margin-bottom: 80px;
			}
		div.half-and-half div.img-half {
			align-items: center;
		}
			div.half-and-half div.img-half img {
				width: auto;
				max-width: 100%;
				max-height: 100%;
			}


section.top {
	height: 1100px;
	/* background-image: url("assets/home-hero-tablet.webp"); */
	background-image: url("assets/home-hero.webp");
	background-size: cover;
	background-position: 0 0;
}
	div#home-motto-container {
		position: relative;
		width: 50%;
		left: 50%;
		top: 360px;
		font-family: "Qonquer";
		overflow: hidden;
		/* background-color: rgba(12,150,200,0.5); */
		/* transition: transform 1s cubic-bezier(0,.33,.07,1.03); */
	}
		section.top div.motto h1 {
			font-size: 105px;
			line-height: 105px;
			transform-origin: 0 0;
			transform: scale(0.85, 1);
			letter-spacing: 4px;
			color: var(--grey-text-color);
			position: relative;
			left: 0;
			opacity: 1;
			/* left: 50vw; */
			/* opacity: 0; */
			transition: left 0.7s cubic-bezier(0, 0.8, 0.7, 1), opacity 1s;
		}


section.elevator {
	display: flex;
	justify-content: flex-end;
	height: 500px;
	background-image: url("assets/box_midnight_diagonal-left-2.png");
	background-position: center left;
}
	section.elevator div.text-container h6 {
		color: white;
		margin-top: 10px;
	}
	section.elevator div.background-fill {
		width: calc(100% - 600px);
		height: 500px;
		left: 600px;
	}


section.category {
	display: flex;
	justify-content: center;
	margin: 250px 0;
}
	section.category div.category-container {
		display: flex;
		width: 100%;
		max-width: 1120px;
	}
		section.category div.category-container div.category {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 33.33%;
			/* opacity: 0; */
			opacity: 1;
			transition: opacity 0.1s;
		}
			div.category-container div.category span {
				color: var(--woolley-orange);
				font-family: "Impact";
				font-size: 48px;
				font-weight: bold;
				font-style: italic;
				margin-bottom: 10px;
			}
			div.category-container div.category h2 {
				font-size: 44px;
				color: var(--accent-color);
				margin-bottom: 50px;
			}
			div.category-container div.category ul {
				list-style: none;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
				div.category-container div.category li {
					font-family: "Gotham Book";
					font-size: 18px;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin-bottom: 15px;
				}


section.why-whoolley {
	height: 700px;
	display: flex;
	background-image: url("assets/box_midnight_diagonal-right.png");
	background-position: center right;
	transition: background-position 0.2s;
}
	section.why-whoolley div.text-container {
		width: calc(100vw - 450px);
		padding: 0;
		z-index: 1;
	}
		section.why-whoolley div.text-box {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
			section.why-whoolley div.text-box h2 {
				font-size: 50px;
				width: 117%;
				text-align: center;
			}
			section.why-whoolley div.text-box h2#why-whoolley-header {
				margin-bottom: 35px;
			}
			section.why-whoolley div.text-box h2.grey {
				color: var(--grey-text-color);
			}
			section.why-whoolley div.text-box p {
				color: var(--grey-text-color);
			}
			section.why-whoolley div.text-box img {
				margin-top: 55px;
				width: 100px;
			}
	section.why-whoolley div.background-fill {
		height: 700px;
		width: calc(100vw - 700px);
	}


section.dreamers {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url("assets/dreamers.webp");
	background-size: cover;
	margin-top: 250px;
}
	section.dreamers div.dreamers-container {
		width: calc(100% - 450px);
		display: flex;
		justify-content: center;
		padding: 0 50px;
		transition: transform 0.2s;
	}
		section.dreamers div.text-box {
			text-align: right;
		}
			section.dreamers div.dreamers-container img {
				max-width: 100%;
			}


section.work-slash {
	height: 448px;
	background-image: url("assets/work-slash.webp");
	background-position: center center;
	background-size: cover;
}


section.who-we-are {
	margin: 220px 0;
	background-color: var(--accent-color);
}
	section.who-we-are div.container {
		padding: 50px 0;
	}
		section.who-we-are div.half-and-half div.text-half p {
			color: var(--grey-text-color);
		}


@media (max-width: 1024px) {
	section.top {
		background-image: url("assets/home-hero-tablet.webp");
	}
	/* section.elevator div.diagonal-text-container { */
	/* 	width: 524px; */
	/* } */
	section.why-whoolley {
		background-position: 80%;
	}
	section.why-whoolley div.diagonal-text-container {
		width: 100%;
		padding: 0 50px;
	}
	section.dreamers {
		background-image: url("assets/dreamers-tablet.webp");
	}
		section.dreamers div.dreamers-container {
			width: calc(100% - 250px);
			min-width: 70vw;
		}
}

@media (max-width: 767px) {
	section.half-and-half {
		height: initial;
	}
	div.half-and-half {
		flex-direction: column;
	}
		div.half-and-half > div {
			width: initial;
		}
		section.example div.half-and-half div.text-half {
			padding: 150px 8%;
		}

	section.top {
		background-image: url("assets/home-hero-mobile.webp");
	}
		div#motto-container {
			width: 95%;
			left: 20px;
			top: 550px;
		}
			section.top div.motto h1 {
				/* left: 100vw; */
			}
	section.elevator div.text-container {
		padding: 0 25px;
	}
	section.category div.category-container {
		flex-direction: column;
	}
		section.category div.category-container div.category {
			width: 100%;
			margin-bottom: 75px;
		}
	section.why-whoolley div.text-box h2 {
		font-size: 40px;
	}
	section.dreamers {
		background-image: url("assets/dreamers-mobile.webp");
		align-items: flex-start;
		padding: 70px 0;
	}
		section.dreamers div.dreamers-container {
			width: 100%;
		}
				section.dreamers div.dreamers-container h2 {
					font-size: 25px;
				}
	section.who-we-are div.half-and-half {
		padding: 100px 0;
	}
		section.who-we-are div.half-and-half div.img-half {
			padding: 0 8%;
		}
}
