div.done-that h2 {
	letter-spacing: 0.02em;
}

div.project {
	height: min(65vw, 500px);
	margin: 20px 0;
	background-color: var(--woolley-blue);
	position: relative;
	transition: background-color 0.5s;
}

div.project div.text {
	max-width: 35%;
}

div.project h3 {
	color: var(--woolley-orange);
	font-size: 2.57rem;
	transition: color: 0.4s;
}

div.project p {
	color: var(--woolley-grey);
	text-transform: uppercase;
}

/* div.project img { */
div.project div.image {
	width: min(56%, calc(50% + var(--column-width) * 2 + var(--column-gap) * 3));
	height: 100%;
	position: absolute;
	right: 0;
	overflow: hidden;
}

div.project.right div.image {
	left: 0;
	right: initial;
}

div.project div.image.sendline {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.project div.image.sendline img {
	width: initial;
	height: 75%;
}

div.project div.image img {
	width: 101%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.4s;
}

div.project.left div.image img {
	position: relative;
	left: -1px;
	width: calc(101% + 1px);
}


@media screen and (min-width: 768px) {
	div.done-that {
		box-sizing: content-box;
		width: 35.7rem;
		padding: 0 7rem;
	}
}

@media screen and (max-width: 767px) {
	div.project div.text h3 {
		font-size: 2rem;
	}
	div.project div.text p {
		font-size: 0.8rem;
	}
}
