<section id="work-landing">
	<h1>We</h1>
	<h1>Do</h1>
	<h1>Creative.</h1>
</section>
<section class="trapezoid right white">
	<div class="done-that">
		<h2 class="white">Yep, we've done that.</h2>
		<p>We’ve spent decades working exclusively in the outdoor industry with a focus on creative content and branding.</p>
	</div>
</section>
<section class="buttons flex column align-center justify-center">
	<p class="bold mb-5">Slideout Speed</p>
	<div class="flex align-center">
		<button id="slow">Slow</button>
		<button id="medium">Medium</button>
		<button id="fast">Fast</button>
	</div>
</section>
<section id="work-projects" class="projects">
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_01.jpg" style="object-position: center 25%"/>
			</div>
			<div class="text">
				<h3>National Forest Foundation</h3>
				<p class="large bold split">
					<span>NATURE CONNECTS US</span>
					<span>NATIONAL AWARENESS CAMPAIGN</span>
				</p>
				<p>CREATIVE STRATEGY / CONCEPT / LOGOS / STYLE GUIDES / SOCIAL MEDIA ASSETS / LOCATION PHOTOGRAPHY / VIDEO PROFILES</p>
			</div>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_02.jpg"/>
			</div>
			<div class="text">
				<h3>Ruffwear</h3>
				<p class="large bold">SPRING ‘23 PRODUCT LAUNCH</p>
				<p>LOCATION PRODUCT PHOTOGRAPHY</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_03.jpg" style="object-position: center 5%"/>
			</div>
			<div class="text">
				<h3>REI Co-op</h3>
				<p class="large bold">NEW CAMPUS CONSTRUCTION</p>
				<p>CORPORATE MURAL PHOTOGRAPHY</p>
			</div>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_04.jpg"/>
			</div>
			<div class="text">
				<h3>Sterling Rope</h3>
				<p class="large bold">PRODUCT UPDATES</p>
				<p>LOCATION PRODUCT PHOTOGRAPHY</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="image sendline">
				<img src="/assets/work/project_05.png"/>
			</div>
			<div class="text">
				<h3>Sendline</h3>
				<p class="large bold">BRAND LAUNCH</p>
				<p>BRAND STRATEGY / NAMING / LOGO / PHOTOGRAPHY / WEBSITE DESIGN + DEVELOPMENT / COLLATERAL</p>
			</div>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_06.jpg" style="object-position: center 0"/>
			</div>
			<div class="text">
				<h3>Oregon State University</h3>
				<p class="large bold">PROGRAM LAUNCH</p>
				<p class="split">
					<span>NAMING / WEBSITE DESIGN /</span>
					<span>COPYWRITING</span>
				</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_07.jpg" style="object-position: center 0"/>
			</div>
			<div class="text">
				<h3>Outdoor Industry Association</h3>
				<p class="large bold">PROGRAM LAUNCH</p>
				<p class="split">
					<span>NAMING / LOGO / PHOTOGRAPHY /</span>
					<span>WEBSITE DESIGN</span>
				</p>
			</div>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_08.jpg"/>
			</div>
			<div class="text">
				<h3>Halflight Photography</h3>
				<p>STUDIO PRODUCT / LIFESTYLE PHOTOGRAPHY / IMAGE LICENSING</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_09.jpg"/>
			</div>
			<div class="text">
				<h3>The Mountaineers Books</h3>
				<p class="large bold">BOOK PUBLICATION</p>
				<p>ENVIRONMENTAL PHOTOGRAPHY</p>
			</div>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="max-w flex align-center">
			<div class="image">
				<img src="/assets/work/project_10.jpg"/>
			</div>
			<div class="text">
				<h3>REI Coop</h3>
				<p class="large bold">CLIMB FOR A CAUSE</p>
				<p>EVENT PHOTOGRAPHY</p>
			</div>
		</div>
	</div>
</section>
