<section id="work-landing"></section>
<section class="trapezoid right white">
	<div class="done-that">
		<h2>Yep, we've done that.</h2>
		<p>We’ve spent decades working exclusively in the outdoor industry with a focus on creative content and branding.</p>
	</div>
</section>
<section id="work-projects" class="projects">
	<!--
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="text">
				<h3>Ruffwear</h3>
				<p>Location product photography</p>
			</div>
		</div>
		<div class="image">
			<img src="/assets/work/project-1.jpg"/>
			<a href="/work/ruffwear" class="image-hover"><h6>View Project</h6></a>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="image">
			<img src="/assets/work/project-2.jpg"/>
			<a href="/work/rei-coop-mural" class="image-hover"><h6>View Project</h6></a>
		</div>
		<div class="max-w flex align-center justify-end">
			<div class="text">
				<h3>REI Co-op</h3>
				<p>Corporate mural photography</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="text">
				<h3>Sterling Rope</h3>
				<p>Location product photography</p>
			</div>
		</div>
		<div class="image">
			<img src="/assets/work/project-3.jpg"/>
			<a href="/work/sterling-rope" class="image-hover"><h6>View Project</h6></a>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="image sendline">
			<img src="/assets/work/project-4.png"/>
			<a href="/work/sendline" class="image-hover"><h6>View Project</h6></a>
		</div>
		<div class="max-w flex align-center justify-end">
			<div class="text">
				<h3>Sendline</h3>
				<p>Brand Strategy / Naming / Logo / Photography / Website / Collateral</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="text">
				<h3>Oregon State University</h3>
				<p>Naming / Landing Page Design / Copywriting</p>
			</div>
		</div>
		<div class="image">
			<img src="/assets/work/project-5.jpg"/>
			<a href="/work/osu" class="image-hover"><h6>View Project</h6></a>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="image">
			<img src="/assets/work/project-6.jpg"/>
			<a href="/work/the-leadership-lab" class="image-hover"><h6>View Project</h6></a>
		</div>
		<div class="max-w flex align-center justify-end">
			<div class="text">
				<h3>Outdoor Industry Association</h3>
				<p>Naming / Logo / Photography / Landing Page Design</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="text">
				<h3>Halflight Photography</h3>
				<p>Studio Product + Lifestyle Photography</p>
			</div>
		</div>
		<div class="image">
			<img src="/assets/work/project-7.jpg"/>
			<a href="/work/halflight-photography" class="image-hover"><h6>View Project</h6></a>
		</div>
	</div>
	<div class="project right max-w-container">
		<div class="image">
			<img src="/assets/work/project-8.jpg"/>
			<a href="/work/mountaineers-book" class="image-hover"><h6>View Project</h6></a>
		</div>
		<div class="max-w flex align-center justify-end">
			<div class="text">
				<h3>The Mountaineers Books</h3>
				<p>Environmental Photography</p>
			</div>
		</div>
	</div>
	<div class="project left max-w-container">
		<div class="max-w flex align-center">
			<div class="text">
				<h3>REI Coop</h3>
				<p>Climb For A Cause Event Photography</p>
			</div>
		</div>
		<div class="image">
			<img src="/assets/work/project-9.jpg"/>
			<a href="/work/rei-coop-climb" class="image-hover"><h6>View Project</h6></a>
		</div>
	</div>
	-->
</section>
