<section id="work-landing"></section>
<section class="trapezoid right white">
	<div class="done-that">
		<h2>Yep, we've done that.</h2>
		<p>We’ve spent decades working exclusively in the outdoor industry with a focus on creative content and branding.</p>
	</div>
</section>
<section id="work-projects" class="projects">
	<!--
	<a href="{{link}}" class="project {{side}} max-w-container">
		<div class="max-w flex align-center">
			<div class="text">
				<h3>{{client}}</h3>
				<p>{{description}}</p>
			</div>
		</div>
		<div class="image">
			<img src="{{image}}"/>
		</div>
	</a>
	-->
</section>
