.landing-image {
	--t: 0;
	--total-disp: 100px;
	/* --scroll-height: 900px; var comes from js */
	--bg-parallax: 0.3;
	overflow: hidden;
	position: relative;
	background-color: var(--woolley-blue);
}

.landing-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.landing-image img.landing-fg {
	/* --x-disp-factor: 0; var comes from js */
	--fg-disp-y: calc(var(--t) * var(--total-disp) * -1);
	--fg-disp-x: calc(var(--fg-disp-y) * var(--x-disp-factor));
	transform: translate(var(--fg-disp-x), var(--fg-disp-y));
	z-index: 1;
}

.landing-image .background {
	--bg-disp: calc(var(--scroll-height) * var(--bg-parallax) * var(--t));
	transform: translateY(var(--bg-disp));
}

.landing-image div.landing-bg-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	mix-blend-mode: overlay;
}

.landing-image div.text-container {
	--text-disp: calc(var(--scroll-height) * var(--bg-parallax) * 2 * var(--t));
	transform: translateY(var(--text-disp));
	position: absolute;
	z-index: 1;
}

.landing-image div.text-container * {
	color: inherit;
	transition: transform 0.2s ease-out, opacity 0.5s ease-out;
}

/* OLD */
.landing-container {
	overflow: hidden;
	position: relative;
}

.landing-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.landing-container img.landing-fg {
	z-index: 1;
}

.landing-container div.landing-bg-overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	mix-blend-mode: overlay;
}

.hero-text {
	position: absolute;
	right: 18%;
	transition: opacity 1s ease-out;
	z-index: 1;
}

.hero-text h1 {
	color: inherit;
	position: relative;
	opacity: 0;
	right: 0;
	transition: opacity 0.5s ease-out, right 0.2s ease-out;
}
/* END OLD */


.sprite-sheet-container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* overflow: hidden; */
}

.sprite-sheet-container div.frame {
	width: 0;
	height: 0;
}

.sprite-sheet-container div.frame.landscape {
	width: fit-content;
	height: 100%;
}

.sprite-sheet-container div.frame.portrait {
	width: 100%;
	height: fit-content;
}


div.slide-list-container {
	overflow: hidden;
}

div.slide-list-container ul.slide-list {
	list-style: none;
	transform: translateY(0);
}


.trapezoid {
	height: 500px;
	position: relative;
	background-color: var(--woolley-blue);
}

.trapezoid.blue {
	background-color: var(--woolley-grey);
}

.trapezoid div.trapezoid-content-container {
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.trapezoid.right div.trapezoid-content-container {
	align-items: flex-end;
}

.trapezoid div.trapezoid-content {
	max-width: fit-content;
}

.trapezoid.double div.trapezoid-content {
	display: flex;
	justify-content: space-between;
	/* gap: var(--side-padding); */
	gap: calc(150px + 20px);
}

.trapezoid.double div.trapezoid-content > * {
	/* background-color: red; */
}

@media screen and (min-width: 768px) {
	.trapezoid.double.left div.trapezoid-content > *:nth-child(2),
	.trapezoid.double.right div.trapezoid-content > *:nth-child(1)
	{
		min-width: 35%;
		width: 35%;
	}
}

.trapezoid.blue div.trapezoid-content {
	color: white;
}

.trapezoid.double.blue div.trapezoid-content > *:nth-child(2) {
	color: var(--woolley-blue);
}

.trapezoid div.trapezoid-background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--woolley-orange);
	/* transition: clip-path 0.1s; */
}

.trapezoid.blue div.trapezoid-background {
	background-color: var(--woolley-blue);
}


.fade-in-child.hidden {
	opacity: 0;
	transform: scale(1.2);
}

.fade-in-child.revealed {
	opacity: 1;
	transform: scale(1);
	transition: transform 0.6s, opacity 0.8s;
}

@media screen and (max-width: 767px) {
	.trapezoid.double {
		height: 800px;
		padding: 100px 0;
	}
	.trapezoid.double div.trapezoid-content {
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		gap: initial;
	}
	.trapezoid.double.right div.trapezoid-content {
		flex-direction: column-reverse;
	}
	.trapezoid.double.left div.trapezoid-content > *:nth-child(1),
	.trapezoid.double.right div.trapezoid-content > *:nth-child(2)
	{
		width: 60%;
	}
	.trapezoid.double.left div.trapezoid-content > *:nth-child(2),
	.trapezoid.double.right div.trapezoid-content > *:nth-child(1)
	{
		max-width: 55%;
	}
	.trapezoid.double div.trapezoid-content > *:nth-child(2) {
		align-self: flex-end;
	}
}
