section#about-landing {
	min-height: 960px;
	height: min(100vh, 960px);
}

section#about-landing .hero-text {
	left: max(var(--side-padding), calc((100vw - var(--max-width)) / 2));
	right: initial;
}

section#about-landing img.landing-fg {
	object-position: 40% center;
}

div#about-landing-text {
	width: calc(6 * var(--column-width) + 5 * var(--column-gap));
	max-width: 80vw;
	position: absolute;
	left: max(var(--side-padding), calc((100vw - var(--max-width)) / 2));
	z-index: 1;
	opacity: 0;
	transition: opacity 1s ease-out;
}

div#about-landing-text p {
	position: relative;
	transition: opacity 0.5s ease-out, right 0.2s ease-out;
}

section.flip-the-script {
	height: 960px;
	margin-top: 300px;
	position: relative;
	background-image:
		linear-gradient(to right, rgba(255, 255, 255, 0.5) 0 100%),
		url("/assets/about/about_bw_1.jpg");
	background-size: cover;
}

section.flip-the-script > div {
	z-index: 1;
}

section.flip-the-script div.growing-slash {
	left: calc(var(--left) + 0.2rem);
}

section.flip-the-script h6 {
	max-width: 40rem;
	margin-bottom: 40px;
}

section.flip-the-script p {
	max-width: calc(7 * var(--column-width) + 6 * var(--column-gap));
}

section.flip-the-script div p:last-of-type {
	margin-bottom: 100px;
}

section.flip-the-script img {
	width: 100%;
	height: 100%;
	min-height: 60%;
	object-fit: cover;
	position: absolute;
	bottom: 0;
	z-index: 0;
}


section.onetwothree {
	margin: 250px 0;
}

section.onetwothree > div {
	gap: 250px;
}

section.onetwothree div div {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	gap: 15%;
}

section.onetwothree h2 {
	/* min-width: 30%; */
	white-space: nowrap;
}

section.onetwothree p {
	max-width: 50%;
}


section.thom {
	min-height: 960px;
	padding: 100px 0 200px 0;
	background-image: url("/assets/about/about_bw_2.jpg");
	background-size: cover;
}

section.thom div.picture {
	width: 43%;
}

section.thom div.img-container {
	width: 100%;
	padding: 0 15%;
	margin-bottom: 20px;
	position: relative;
}

section.thom div.growing-slash {
	left: calc(min(15%, var(--column-width)) - 105px);
	top: -191px;
}

section.thom div.img-container img {
	width: 100%;
	aspect-ratio: 594 / 833;
	position: relative;
}

section.thom div.bio {
	padding-left: 15%;
}

section.thom div.picture h6:last-of-type {
	font-size: 1rem;
	margin-top: 0.3em;
	opacity: 0.6;
}

section.thom div.description {
	width: 55%;
}


section.slide-list {
	height: 500px;
	margin: 20px 0;
	background-color: var(--woolley-grey);
}

section.slide-list > div > div {
	height: fit-content;
	position: relative;
	top: calc(50% - 1rem);
	display: flex;
	flex-wrap: wrap;
	padding-left: calc(15% * .43);
}

section.slide-list h6 {
	font-size: 1rem;
}

section.slide-list h6.orange.bold {
	margin-right: 0.6em;
}

section.slide-list ul {
	position: relative;
	bottom: 1px;
}


@media screen and (min-width: 768px) {
	div.services { width: 59rem; }
}

@media screen and (max-width: 767px) {
	section.flip-the-script div.growing-slash {
		--left-offset: 103px;
	}
	section.onetwothree div div {
		flex-direction: column;
		align-items: flex-start;
	}
	section.onetwothree div div:nth-child(even) {
		flex-direction: column-reverse;
		align-items: flex-end;
	}
	section.onetwothree h2 {
		margin-bottom: 3rem;
	}
	section.onetwothree p {
		max-width: initial;
	}

	section.thom div {
		flex-direction: column;
		align-items: center;
		gap: 75px;
	}
	section.thom > div > div {
		width: 100%;
	}
}
