<section id="about-landing">
	<h1>Hey,</h1>
	<h1>We're</h1>
	<h1>Woolley.</h1>
	<div class="p-box">
		<p>We’re a small creative studio that works in the outdoor and adjacent markets. We’re all outdoor industry veterans who have come together for the community and collaboration that being part of a team brings.</p>
		<p>Together, we specialize in providing content along with creative strategy and execution. Also, big fans of being outside and coffee. Even drip, when absolutely necessary.</p>
	</div>
</section>
<section class="trapezoid blue right">
	<h2 class="orange">Just the right size.</h2>
	<p>Without all the overhead of a typical agency, no project is too small or too big.</p>
</section>
<section class="flip-the-script max-w-container background-parallax">
	<div class="max-w flex column p-box">
		<h2 class="mb-1 relative">
			<div class="growing-slash top-left"></div>
			<span class="relative">Let's flip the script.</span>
		</h2>
		<h6 class="grey">Top-notch creative should not be astronomically-expensive</h6>
		<p>We can read the room: the old agency model is over. Costly retainers, disappointing work, and excessive overhead are things of the past. Yet, world-class creative from folks with decades of experience is still important.</p>
		<p>That’s where Woolley comes in.</p>
		<p>We’re not a big agency with a ton of overhead. We’re also not an independent freelancer. We’re in the middle. Just right for all sorts of projects.</p>
		<p>We come from the outdoor industry’s brand side, from creative agencies, and from running our own freelance careers. We’re with Woolley because it’s different.</p>
		<a href="/work" class="cta light slideout">Take a look.</a>
	</div>
</section>
<section class="trapezoid blue left">
	<div class="services">
		<h2 class="orange">Creative services should be simple & straightforward.</h2>
		<h2 class="grey mb-2">Also, fun.</h2>
		<p>With Woolley, you won’t be hit with any hidden fees, you won’t have to decipher a fuzzy pricing structure, and you won’t get stuck talking to anyone other than the one working on your project.</p>
	</div>
</section>
<section class="onetwothree max-w-container spaced">
	<div class="max-w column">
		<div>
			<h2 class="slideout left"><span class="orange">1.</span> Simple.</h2>
			<p>We don’t have dedicated project management, customer relations, or sales teams. We’re a group of creatives who enjoy wearing a lot of hats, building relationships with our clients and managing our projects.</p>
		</div>
		<div>
			<p>We bill hourly and we only bill for the hours we work for you. Like we said, there’s no costly retainers and no ‘value-based’ (read: vague) proposals with a bunch of hidden fees.</p>
			<h2 class="slideout right"><span class="orange">2.</span> Straightforward.</h2>
		</div>
		<div>
			<h2 class="slideout left"><span class="orange">3.</span> Collaborative.</h2>
			<p>Because we only work with clients we believe in, it’s easy for us to invest ourselves fully for you. We listen and ask an absurd amount of questions before we get to work. Because we don’t win unless you win.</p>
		</div>
	</div>
</section>
<section class="thom max-w-container align-end background-parallax">
	<div class="max-w justify-between">
		<div class="picture">
			<div class="img-container">
				<div class="growing-slash top-left"></div>
				<img src="/assets/about/thom.jpg"/>
			</div>
			<div class="bio">
				<h6>Thom Schroeder</h6>
				<h6>Owner + Principal Photographer</h6>
			</div>
		</div>
		<div class="description p-box">
			<p>Thom is a creative media professional with 20+ years of experience in the outdoor industry. He spent fifteen years in both individual and leadership roles in REI Co-op’s media studio and creative teams before launching his own businesses.</p>
			<p>While at REI, he led the successful effort bringing premedia services in-house as well as designing and implementing a new product studio. Thom has a love and deep experience for leadership and everything media-related, from building teams to designing photography workflows to solving logistics challenges with studio product and asset management.</p>
			<p>As a commercial photographer and creative director, he has worked with REI Co-op, National Forest Foundation, Ruffwear, Sterling Rope, Mountaineers Books, 4Patriots, and others. His work has been licensed and is displayed in advertising and private collections throughout the country.</p>
			<p>He’s a husband and a dad first, a creative second, and somewhere down that list, a definitive geek on mudding drywall.</p>
		</div>
	</div>
</section>
<section class="max-w-container slide-list">
	<div class="max-w">
		<div>
			<h6 class="orange bold">Woolley</h6>
			<div id="slide-list"></div>
		</div>
	</div>
</section>
