<section id="about-landing">
	<div id="about-landing-text">
		<p>We’re a small creative agency that works in the outdoor and adjacent markets. We’re all outdoor industry veterans who have come together for the community and collaboration that being part of a team brings.</p>
		<p>Together, we specialize in providing content along with creative strategy and execution. Also, big fans of being outside and coffee. Even drip, when absolutely necessary.</p>
	</div>
</section>
<section class="trapezoid blue right">
	<h2 class="orange">Just the right size.</h2>
	<p>Without all the overhead of a typical agency, no project is too small or too big.</p>
</section>
<section class="flip-the-script max-w-container">
	<div class="max-w flex column">
		<div id="about-slash"></div>
		<h2 class="mb-1">Let's flip the script.</h2>
		<h6 class="grey">Top-notch creative should not be astronomically-expensive</h6>
		<p>We know how much it costs to work with an agency. So we put together a different kind of model for doing the work we love with clients who appreciate another option.</p>
		<p>We’re not a big agency with a hefty payroll. We’re also not an independent freelancer. Not that there’s anything wrong with either. Honestly, there’s advantages to both. For starters, they’re both well-known. Frankly, we kind of envy them.</p>
		<p>The issue? We’re stuck in the middle of the two. Like being a middle child, we’re not very well understood.</p>
		<p>What about us then? We all have decades of experience. We come from working on the brand side of the outdoor industry, from being with creative agencies, and from running our own freelance careers. We’re with Woolley because it’s different.</p>
		<a href="/work" class="cta light slideout">Check out our work.</a>
	</div>
	<img id="about-bw-1" src="/assets/about/about-bw-1.jpg"/>
</section>
