<section class="form centered-column standard-padding">
	<div class="cap-width column-container">
		<div class="column half">
			<img src="assets/orange_line_slash.png">
			<div>
			<h1 class="accent-color">Let's chat creative.</h1>
			<p>
				It’s what we love to do. Also, to jump into very cold alpine lakes.
				<br>
				If you need creative content, strategy, or are looking to grow your bench of creative partnerships, we’d love to hear from you.
			</p>
			</div>
		</div>
		<form class="column half" method="post">
			<label for="email">Email</label>
			<input id="email" name="email" type="email" required>
			<label for="firstname">First Name</label>
			<input id="firstname" name="firstname" type="text" required>
			<label for="lastname">Last Name</label>
			<input id="lastname" name="lastname" type="text" required>
			<label for="company">Company</label>
			<input id="company" name="company" type="text">
			<label for="phone">Phone</label>
			<input id="phone" name="phone" type="tel">
			<label for="message">Message</label>
			<textarea id="message" name="message" rows="4"></textarea>
			<button type="submit">Let's go.</button>
		</form>
	</div>
</section>
